# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Env
.venv/
.env

# Jupyter
*.nbconvert.ipynb

# Data & models (keep dirs, ignore contents)
data/*
!data/.gitkeep
models/*
!models/.gitkeep

# Logs
runs/
lightning_logs/
wandb/
*.log

# OS
.DS_Store
